:root{
    --primaryfontcolor: rgb(108, 11, 235);
    --bgprimary: rgba(228, 228, 228, 0.753);
    --maintext: rgb(107, 107, 107);
    --shadow: rgb(0,0,0,0.5);
}

body{
    background-color:var(--bgprimary);
    overflow-x: hidden;
}

.balance-field{
    width: 100vw;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 350px;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.balance-wrap{
   width: 40%;
   height: 100%;
   background-image: url(../assets/withdrawalDesign.png);
}

.balance-wrapd{
   width: 40%;
   height: 100%;
   background-image: url(../assets/DepositDesign.png);
}

.balance-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background: radial-gradient(circle,rgba(108,11,235,0.7),rgba(110, 0,225,0.7));
    backdrop-filter: blur(2px);
    border-radius: 20px;
    height: 100%;
}

.balance-user{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
    width: 100%;
    color: white;
    text-align: center;
    font-size: larger;
    border-bottom: 50px;
    height: 40%;
    line-height: 60px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.514);
}



.splitter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    height: 70%;
}

.balance-top , .balance-btm{
    color: white;
}

.balance-top h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    height: 50%;
}

.balance-btm h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;  
}

.balance-top h2, .balance-btm h2{
    text-align: center;
}


 /* form css design */

 .form-design{
    width: 30%;
    height: 420px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid silver;
    box-shadow: 1px 3px 8px var(--shadow);
 }

 .withdrawal-head{
    height: 15%;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    color: var(--maintext);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 60px;
 }

 .form-wrapper{
    height: 85%;
    width: 100%;
    margin-top: 10px;
 }

 .form-inputs{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
 }

 .form-inputs input{
    margin-bottom: 10px;
    outline: none;
    border: 1px solid silver;
    padding: 5px;
 }

 .input-class{
    width: 300px;
    height: 40px;
 }
 
 .input-class:focus{
   font-size: 17px;
 }

 .payment-method{
    margin: 5px 0;
 }
 
 .payment-method p{
    text-align: center;
    color: var(--maintext);
    margin-bottom: 8px;
    font-weight: 600;
 }

 .withdrawal-btn{
    padding: 5px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    width: 100px;
    background-color: var(--primaryfontcolor);
    color: white;
    cursor: pointer;
 }

 .withdrawal-history{
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 3px 8px var(--shadow);
    margin-bottom: 20px;
 }

 .withdrawal-head{
    width: 100%;
    height: 20%;
 }

 .history-title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 10%;
    margin: 10px 0;
 }

.history-list{
   height: 70%;
   width: 100%;
   overflow: scroll;
}

 .history-data{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 95, 95);
    text-align: center;
    margin-bottom: 5px;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(70, 70, 70, 0.205);
    line-height: 30px;
 }

.history-data h4:nth-child(1){
   width: 20%;
   text-align: center;
   line-height: 30px;
}

.history-data h4:nth-child(2){
   width: 30%;
   text-align: center;
   margin-left: 15px;
   line-height: 30px;
}

.history-data h4:nth-child(3){
   width: 30%;
   padding-right: 20px;
   text-align: center;
   line-height: 30px;
}

.history-data h4:nth-child(4){
   width: 10%;
   padding: 5px;
   text-align: center;
   background-color: yellow;
   color: white;
   border-radius: 5px;
   margin: 0 auto;
   margin-left: 15px;
   
}


/* mobile responsiveness  */

@media only screen and (max-width: 766px){
   .balance-wrap{
      width: 95%;
      margin: auto;
   }

   .balance-wrapd{
      width: 95%;
      margin: auto;
   }

   .balance-top h1, .balance-btm h1{
      font-size: 20px;
   }


   /* form responsiveness  */
   .form-design{
      width: 90%;
   }

   /* withdrawal history responsiveness */

   .withdrawal-history{
      width: 95%;
   }

   .withdrawal-head{
      width: 100%;
      height: 20%;
      margin: 0px;
   }

   .withdrawal-head h1{
      width: 100%;
      height: 20%;
      padding: 0px;
   }

   .history-list{
      height: 80%;
      width: 100%;
      overflow: scroll;
   }

   .history-title h1{
      font-size: 18px;
    padding: 0 5px;
   }

 .history-data{
   font-size: 15px;
   height: 8%;
   width: 95%;
   margin: auto;
}

.history-data h4:nth-child(1){
   margin-right: 10px;
}

.history-data h4:nth-child(2){
   margin-left: 5px;
}

.history-data h4:nth-child(3){
   padding:0;
   padding-left: 30px;
   width: 21%;
   margin-right: 20px;
}


.history-data h4:nth-child(4){
   width: 19%;
   text-align: center;
   background-color: yellow;
   color: white;
   border-radius: 5px;
   margin-bottom: 5px;
   line-height: 10px;
}

}