
        <section class="referal-head">
            
            <div class="referal-head-wrap">
                <article class="referal-info">
                    <h1>Referal ID</h1>
                    <div class="referal-field">
                    <input type="text" value="1234567">
                    <img src="../assets/icons/copy icon.png" alt="" width="30px" height="30px">
                    </div>
                    <h1>Referal Link</h1>
                    <div class="referal-field">
                    <input type="text" value="e4u.com/john/02398359853">
                    <img src="../assets/icons/copy icon.png" alt="" width="30px" height="30px">
                </div>
                </article>
                <article class="ref-image">
                <img src="../assets/referal.png" alt="microphone with referal design" width="380px" height="220px">
                </article>
            </div>
        </section>



        <section class="istats">
            <div class="istats-head">
                <h3>Referal Stats</h3>
            </div>
            <div class="istats-body">
            <article class="istats-sect">
                <div class="referal-istat">
                    <img src="../assets/icons/Account.png" alt="" width="50px" height="50px">
                </div>
                <h4>Your Referals</h4>
                <h4>10</h4>
            </article>
            <article class="istats-sect">
                <div class="referal-istat">
                    <img src="../assets/icons/Account.png" alt="" width="50px" height="50px">
                </div>
                <h4>Referal Commission</h4>
                <h4>1000</h4>
            </article>
            </div>
        </section>

        <section class="referal-history">
            <article class="ref-his-title">
                <h2>Referal History</h2>
            </article>
            <article class="ref-his-head">
                <h2>Username</h2>
                <h2>Date</h2>
            </article>
            <article class="ref-his-info">
                <div class="ref-his-data">
                <h3>Ngwa tse</h3>
                <h3>9/12/23</h3>
                </div>
            </article>
        </section>

        <!-- social media sharing methods  -->

        <section class="cta-share">
            <h2>Share On</h2>
        </section>

        <section class="cta">
            <article class="cta-whatsapp">
                <div class="cta-img">
                <img src="../assets/finger1.png" alt="" height="60px">
                </div>
                <h4><a href="#href">Whatsapp</a></h4>
            </article>
            <article class="cta-facebook">
                <div class="cta-img">
                <img src="../assets/finger2.png" alt="" height="60px">
                </div>
                <h4><a href="#href">Facebook</a></h4>
            </article>
            <article class="cta-insta">
                <div class="cta-img">
                <img src="../assets/finger3.png" height="60px">
                </div>
                <h4><a href="#href">Instagram</a></h4>
            </article>
        </section>