
<div class="main-rectangle">
    <img src="assets/Facce of u.png" alt="" class="hap-girl">
     <div class="border-rectangle">
         <div class="menu-btn"><i class="fa-solid fa-bars" onclick="openNav()" id="menu_btn"></i></div>
         <!--menu small devices-->
         <div class="menu-sm" id="side_nav" >
             <div class="br"><i class="fa-solid fa-xmark" onclick="closeNav();" id="close_btn"></i></div>
             <ul>
                 <li><a href="index.php">Home</a></li>
                 <li><a href="#how">How it works</a></li>
                 <li><a href="earner-login.php">Login</a></li>
                 <li><a href="earner-signup.php">Register</a></li>
             </ul>
                     </div>
         <div class="menu-bar">
 <ul>
     <li><a href="index.php">Home</a></li>
     <li><a href="#how">How it works</a></li>
     <li><a href="earner-login.php">Login</a></li>
     <li><a href="earner-signup.php">Register</a></li>
 </ul>
         </div>
         <div class="info-rect">
 <div class="log-rect">
 <img src="assets/icons/SpinnnigLogo.gif" class="spinner" alt="logo" width="250px">
 </div>
 <div class="i-fo-data">
 <h1>E4U</h1>
 <p class="tag"><em>"earn for youself"</em></p>
 <p class="tell">Watch videos online and react to social media post and get paid!</p>
 
 <div class="cta">
     <a [routerLink]="'login'" class="reg-button">Earn  Now</a>
     <a href="payer-dashboard.php" class="reg-button">Advertise Here</a>
 </div>
 
 </div>
         </div>
     </div>
 </div>
 
 <div class="how-to" id="how">
     <h2>HOW TO EARN/ADEVERTISE</h2>
     <div class="cards">
         <div class="card">
             <div class="step">1</div>
             <div class="step-info">
                 <p>
                 To Start Click on the Register button and provide all neccessary info.
                 </p>
             </div>
         </div>
         <div class="card">
             <div class="step">2</div>
             <div class="step-info">
                 <p>
                     Log into your account and then you can follow the tutorials given in your dashboard
             </p>
             </div>
         </div>
         <div class="card">
             <div class="step">3</div>
             <div class="step-info">
                 <p>
                     Sit Back , Relax and Enjoy your income.
                 </p>
             </div>
         </div>
     </div>
 </div>
 
 <div class="about-us">
     <h1>ABOUT US</h1>
     <div class="about-info">
         <p>
             We are a Team of Developers who aim to create a passive income to students and many others whereby you are apid to watch ads and engage social media products and services offered by advertisers on platforms such as Youtube and facebook to get Organic views, clicks, likes and comments with just two clicks !
         </p>
     </div>
 </div>
 
 <!-- ACCORDION FAQS -->
 <div class="acc-wraper">
 <div class="accorde">
    <h1>Frequently asked questions</h1>
    <p>Can't find an answer</p>
    <a href="">CONTACT US</a>
 </div>
 <div class="yagi-accordion">
     <div class="mx-auto max-w-prose px-2">
       <div class="accordion-item">
           <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
             <p class="font-bold text-left" x-text="accordion.title">Return policy</p>
             <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
             </svg>
             <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
             </svg>
           </button>
           <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
             <p class="whitespace-pre-wrap">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
           </div>
         </div>
         <div class="accordion-item">
           <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
             <p class="font-bold text-left" x-text="accordion.title">Your FAQ title here</p>
             <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
             </svg>
             <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
             </svg>
           </button>
           <div class="accordion-content transition-maxheight ease-out duration-500 max-h-0 overflow-hidden mb-2">
             <p class="whitespace-pre-wrap" x-html="accordion.content">Your content here</p>
           </div>
         </div>
         <div class="accordion-item">
           <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
             <p class="font-bold text-left" x-text="accordion.title">molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis</p>
             <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
             </svg>
             <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
             </svg>
           </button>
           <div class="accordion-content transition-maxheight ease-out duration-500 max-h-0 overflow-hidden mb-2">
             <p class="whitespace-pre-wrap" x-html="accordion.content">debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
           </div>
         </div>
         <div class="accordion-item">
             <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
               <p class="font-bold text-left" x-text="accordion.title">Return policy</p>
               <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
               </svg>
               <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
               </svg>
             </button>
             <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
               <p class="whitespace-pre-wrap" x-html="accordion.content">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
             </div>
           </div>
           <div class="accordion-item">
             <button type="button" class="accordion-header w-full flex justify-between items-center my-2 p-3 rounded" onclick="this.nextElementSibling.classList.toggle('max-h-0');this.nextElementSibling.classList.toggle('max-h-tall'); this.querySelector('.plus').classList.toggle('hidden'); this.querySelector('.minus').classList.toggle('hidden');">
               <p class="font-bold text-left" x-text="accordion.title">Return policy</p>
               <svg xmlns="http://www.w3.org/2000/svg" class="plus h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
               </svg>
               <svg xmlns="http://www.w3.org/2000/svg" class="minus h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6"></path>
               </svg>
             </button>
             <div class="accordion-content transition-maxheight ease-out duration-500 overflow-hidden mb-2 max-h-0">
               <p class="whitespace-pre-wrap" x-html="accordion.content">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
             </div>
           </div>
     </div>
   </div>
   <!-- end yagi accordion -->
 </div>
 
 <footer>
    <div class="foot">
     <div class="socials">
         <p>Find Us on our social media handles:</p>
         <ul>
             <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
             <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
             <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
             <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
         </ul>
     </div>
     <div class="address">
         <h3>For More Info. contact us:</h3>
         <p>Phone number(MTN): <span>xxx-xxx-xxx</span> </p>
         <p>Phone number(ORANGE): <span>xxx-xxx-xxx</span> </p>
         <p class="last-child">Email: <span><a href="mailto:">e4u@gmail.com</a></span> </p>
         We are located at syntech,<br>
         molyko, Buea, SW region.
     </div>
     <div class="links">
         <ul>
             <li><a href="">Privacy Policy</a></li>
             <li><a href="">Terms and conditions</a></li>
         </ul>
     </div>
    </div>
     <div class="rits">
        <p class="rit"> All Rights reserved by &nbsp; &copy; ISAGE 2022.</p>
     </div>
 </footer>
 
 
 