
<div class="main-wrapper">
    <div class="f-wrapper">
    <div class="header-wrapper">
        <img class="logo"  src="../assets/icons/logo.png" alt="e4u-logo" width="150px" height="150px">
        <h1 class="signup-head">LOGIN</h1>
    </div>
    <form action="" class="detail-info">
        <div class="form-wrapper">
            <label for="username" >
                <input class="input-form" type="text" name="username" id="usernamesm" placeholder="Create Username" required>
            </label>
            <label for="password" >
                <input class="input-form" type="password" name="password" id="passwordsm" placeholder="new password" required>
            </label>
        </div>
        <div class="form-sub">
            <input class="sub-btn" type="submit" value="SIGN UP">
        </div>
        <h3>Dont have an account? <a class="login-link" href="#login">click here</a></h3>
    </form>
    </div>
</div>