<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="auth?'earn':'login'">earn</a>
      <a mat-list-item [routerLink]="auth?'account':'login'">account</a>
      <a mat-list-item [routerLink]="auth?'transactions':'login'">transactions</a>
      <a mat-list-item [routerLink]="auth?'referals':'login'">referalls</a>
      <a mat-list-item [routerLink]="auth?'':'login'">logout</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="container justify-content-center">
    <div class="row w-100 align-items-center justify-contents-center me-auto">
      <div class="col">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button></div>
          
      <div class="col">
        <span>e4u</span>
      </div>
      <div class="col">
        <span>e4u logo</span>
      </div>
      <div class="col  ms-auto">notifications</div>
       
    </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
