
.col{
    color: rgb(241, 228, 228);
}

.col:hover{
    background-color: #6010c998;
}

.col:first-child{
    
    border-radius: 20px 0px 0px 0px !important;

}
.col:last-child{
    border-radius: 0px 20px 0px 0px !important;
}