

    <header class="nav-header">
        <nav class="head-nav">
            <div id="toggler" class="container">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            </div>
            <div class="logo-wrapper">
                <img class="logo" src="../assets/icons/logo.png" alt="logo" width="100px" height="100px">
                <div class="bulge"></div>
            </div>
            <div class="right-nav">
                <img src="../assets/icons/notification.png" alt="notification-icon" width="30px" height="30px">
                <h3>VIP 1</h3>
            </div>
        </nav>
    </header>

    <!-- sidenav -->
        <header class="test-head">
            <div  id="sidenav" class="sidenav-remove">
            <nav class="sidenav">
                <div class="sidenav-menu">
                    <span><a href="earn_page.html">Earn</a></span>
                    <span><a href="">Account</a></span>
                    <span><a href="redrawalpage.html">Withdraw</a></span>
                    <span><a href="depositpage.html">Deposit</a></span>
                    <span><a href="">Referalls</a></span>
                    <span><a href="">How to earn</a></span>
                    <span><a href="">About Us</a></span>
                    <span><a href="">Support Desk</a></span>
                    <span><a href="">Upgrade Level</a></span>
                </div>
                <div class="logout-btn">
                    <button>Log Out</button>
                </div>
            </nav>
            </div>
        </header>

        <section class="trans-heading">
            <h1>Deposit</h1>
        </section>


        <section class="balance-field">
            <div class="balance-wrapd">
            <article class="balance-wrapper">
                <div class="balance-user">
                    <h2>Username</h2>
                    <h2>Vip -</h2>
                </div>
            <div class="splitter">
                <div class="balance-top">
                    <h1>Balance</h1>
                    <h2>0frs</h2>
                    <!-- <img src="../assets/icons/earn.png" alt="wallet pic" width="100px" height="100px"> -->
                </div>
                <div class="balance-btm">
                    <h1>Actions left</h1>
                    <h2>8</h2>
                </div>
            </div>
            </article>
        </div>
        </section>

        <section class="form-design">
            <div class="withdrawal-head">
                <h1>Deposit form</h1>
            </div>
            <div class="form-wrapper">
                <form action="" class="form-inputs">
                    <label for="">
                        <input class="input-class" type="text" maxlength="9" placeholder="Phone Number" >
                    </label>
                    <label for="">
                        <input class="input-class" type="text" maxlength="6" placeholder="Amount" >
                    </label>

                    <div class="payment-method">
                        <p>Payment method</p>
                    <label for="">
                    <input type="radio" name="payment" value="Momo" checked><img src="../assets/icons/Mtn.png" alt="mtn logo" width="100px" height="100px">
                    </label>
                    <label for="">
                    <input type="radio" name="payment" value="OrangeMoney"><img src="../assets/icons/Orange.png" alt="OrangeMoney" width="100px" height="100px">
                    </label>
                    </div>
            <label for="">
                    <input class="withdrawal-btn" type="submit" value="Proceed"></label>
                </form>
            </div>
        </section>

        <!-- withdrawal history  -->

        <section class="withdrawal-history">
            <div class="withdrawal-head">
                <h1>Deposit history</h1>
            </div>

            <div class="history-title">
                <h1>Date</h1>
                <h1>Transaction ID</h1>
                <h1>Amount</h1>
                <h1>Status</h1>
            </div>
    <div class="history-list">
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
        <div class="history-data">
            <h4>02/02/2023</h4>
            <h4>4h43h4j3h5k3</h4>
            <h4>5,000frs</h4>
            <h4>Pending</h4>
        </div>
    </div>
        </section>


