<div class="alert alert-success" >{{successMessage}}</div>
      <!-- <button mat-raised-button color="primary">hello orld</button> -->
    <div class="over-all-wrapper">
        <div class="white-bg">
    <!--singup small screen.andriod devices-->
<div class="login-wrapper">

    <div class="circle-top" id="title">
        <img src="../assets/icons/logo.png" alt="E4U-logo" width="200px" height="200px">
        <h1>Sign Up</h1>
        
    </div>

    <!-- old form -->
         <form #signupform="ngForm" (ngSubmit)="signup()">
            <div class="detail-info">
            <div class="form-info">
                <label class="form-group" for="username" >
                    <input 
                        #user_username="ngModel"
                        class="form-control" 
                        type="text" 
                        name="username" 
                        minlength="5"
                        maxlength="20"
                        id="usernamesm" 
                        [(ngModel)]="user.username"
                        placeholder="Create Username" required/>
                </label>
                    <!-- warning -->
                <div *ngIf="user_username.errors?.['minlength']" class="alert alert-danger">
                    Username is too short
                </div>


                <label class="form-group" for="password" >
                    <input 
                        #signup_password="ngModel"
                        class="form-control"
                        minlength="6"  
                        max="20"
                        type="password" 
                        name="password" 
                        id="passwordsm" 
                        placeholder="new password"
                        [(ngModel)]="user.password"  
                        required>
                </label>
                    
                <div *ngIf="signup_password.errors?.['minlength']" class="alert alert-danger">
                    password is too short
                </div>


                <label class="form-group" for="cpassword" >
                    <input 
                        #signup_confirm_password="ngModel"
                        minlength="2"
                        maxlength="20"
                        class="form-control" 
                        type="password" 
                        name="cpassword" 
                        id="cpassword" 
                        placeholder="confirm password"
                        [(ngModel)]="confirm_password" 
                        required>
                </label>
                <!-- warning -->
                    
                <div *ngIf="signup_confirm_password.value != user.password &&  confirm_password !=''" class="alert alert-danger">
                    passwords donot match
                </div>   
                

                <label class="form-group" for="email" >
                    <input 
                    #emailstuff="ngModel"
                    class="form-control" 
                    email
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="email"
                    [(ngModel)]="user.email"
                    required>
                </label>
                <div class="alert alert-warning" *ngIf="emailstuff?.['touched'] && emailstuff?.['invalid']">
                    *email not valid
                 </div>
                
                <!-- <label class="form-group" for="telephone" >
                    <input class="form-control" type="tel" name="tel" id="tel" placeholder="phone number" required>
                </label> -->
            </div>
            <div class="btn">
                <button mat-raised-button class="sub"  color="primary"   [disabled]="signupform.invalid" type="submit"  >register</button>
            </div>
            </div>               
        </form>
    </div>
    <!-- </div> -->
<div class="other-signin-meths">
    <p>already have  an account?</p>
    <p><a [routerLink]="'login'">sign in</a></p>
</div>

    <!-- </div> -->
<!--singup small screen.andriod devices-->
<!-- </div> -->
<!-- </div> -->