
    <div class="over-all-wrapper">
        <div class="white-bg">
    <!--singup small screen.andriod devices-->
<div class="login-wrapper">

    <div class="circle-top" id="title">
        <img src="../assets/icons/logo.png" alt="E4U-logo" width="200px" height="200px">
        <h1>Sign Up</h1>
        
    </div>
        <form action="earn" method="POST">
            <div class="detail-info">
            <div class="form-info">
                <label for="username" >
                    <input type="text" name="username" id="usernamesm" placeholder="Create Username" required>
                </label>
                <label for="password" >
                    <input type="password" name="password" id="passwordsm" placeholder="new password" required>
                </label>
                <label for="cpassword" >
                    <input type="password" name="cpassword" id="cpassword" placeholder="confirm password" required>
                </label>
                <label for="email" >
                    <input type="email" name="email" id="email" placeholder="email" required>
                </label>
                <label for="telephone" >
                    <input type="tel" name="tel" id="tel" placeholder="phone number" required>
                </label>
            </div>
            <div class="form-cta">
                <input type="submit" value="SIGN UP" />
            </div>
            </div>               
        </form>
    </div>
    <!-- </div> -->
<div class="other-signin-meths">
    <p>already have  an account?</p>
    <p><a [routerLink]="'login'">sign in</a></p>
</div>

    <!-- </div> -->
<!--singup small screen.andriod devices-->
<!-- </div> -->
<!-- </div> -->