
        <!-- main withdrawal menu  -->

        <section class="trans-heading">
            <h1>Transactions</h1>
        </section>

        <section class="trans-menu">
            <article class="trans-menu-items">
                <div class="trans-border"  [routerLink]="'../deposit'">
                    <a><img src="../assets/pigggy.png" alt="saving icon" width="180px" height="180px"></a>
                    <h1>Deposit</h1>
                </div>
            </article>
            <article class="trans-menu-items">
                <div class="trans-border"  [routerLink]="'../withdrawal'">
                    <a ><img src="../assets/icons/earn.png" alt="saving icon" width="180px" height="180px"></a>
                    <h1>Withdraw</h1>
                </div>
            </article>
        </section>
