    <!-- body design -->

    <section class="icons-wrapper">
        <div class="username">
        <article class="user-head-wrapper">
            <div class="user-head">
            <img class="user-icon" src="../assets/icons/Account.png" alt="user-icon" width="40px" height="40px">
            <h3 class="user-id">Hi Username</h3>
            </div>
        </article>
        </div>
        <div class="icons">
            <article class="icon-wrapper">
                <img src="../assets/icons/money.png" alt="dollar sign" width="30px" height="40px">
                <h3>5000frs</h3>
                <h4>Balance</h4>
            </article>
            <article class="icon-wrapper">
                <img src="../assets/icons/earn.png" alt="earn icon" width="40px" height="40px">
                <h3>500frs</h3>
                <h4>Today earnings</h4>
            </article>
            <article class="icon-wrapper">
                <img src="../assets/icons/play.png" alt="actions icon" width="100px" height="100px" >
                <h3>8</h3>
                <h4>Actions</h4>
            </article>
            <article class="icon-wrapper">
                <img src="../assets/icons/video.png" alt="completed action icons" width="40px" height="40px">
                <h3>2</h3>
                <h4>Completed actions</h4>
            </article>
            <article class="icon-wrapper">
                <img src="../assets/icons/Account.png" alt="Referall icon" width="40px" height="40px">
                <h3>2</h3>
                <h4>Referalls</h4>
            </article>
        </div>
    </section>
<!-- earning main menu  -->

    <section class="main-menu">
        <article class="mainmenu-design">
            <div class="mainmenu-prop">
            <h1>Watch Videos</h1>
            <div class="mainmenu-icon">
            <img src="../assets/icons/play.png" alt="play logo" width="100px" height="100px">
            </div>
            <button>Earn Now</button>
            </div>
        </article>
        <article class="mainmenu-design">
            <div class="mainmenu-prop">
            <h1>React to Post</h1>
            <div class="mainmenu-icon">
            <img src="../assets/icons/play.png" alt="play logo" width="100px" height="100px">
            </div>
            <button>Earn Now</button>
            </div>
        </article>
    </section>

    <!-- <header class="bottom-header">
        <nav class="bottom-nav">
                <div id="menu" class="nav-list">
                <span class="btn active"><a href="earn_page.html">Earn</a></span>
                <span class="btn"><a href="transactionpage.html">Transactions</a></span>
                <span class="btn"><a href="#">Accounts</a></span>
                <span class="btn"><a href="#">Referalls</a></span>
            </div>
        </nav>
    </header> -->
