
        <section class="trans-heading">
            <h1>Account</h1>
        </section>

 <section class="account-title">
    <div  class="account-info-wrapper">
    <article  class="sides">
            <div class="left-side-details">
                <div class="left-side-icon">
                    <img src="../assets/icons/Account.png" alt="" width="50px" height="50px">
                </div>
                 <div class="left-side-info">
                <h2>Username</h2>
                <div class="info-ref">
                <h3>Referal id :</h3>
                <h3> 123456</h3>
                </div>
                </div>
            </div>
                <div class="left-side-balance">
                    <h3>Balance :</h3>
                    <h3>5000frs</h3> 
                </div>
            </article>
            <article class="sides">
                <div class="vip-sect">
                <div class="vip-logo">
                    <img src="../assets/icons/Account.png" alt="" width="50px" height="50px">
                </div>
                    <h2>Vip 1</h2> 
                </div>
            <!-- </div> -->
            </article>
            </div>
        </section>

        <section class="account-form">
            <article class="form-head">
                <h1>Profile Info</h1>
            </article>
            <article class="account-input">
                <form action="">
                    <label for="" class="acc-inputs">
                        <h2>Full Name</h2>
                        <input class="acc-inputss" type="text" disabled value="Ngwa Fru">
                    </label>
                    <label for="" class="acc-inputs">
                        <h2>Username</h2>
                        <input class="acc-inputss" type="text" disabled value="Stylish">
                    </label>
                    <label for="" class="acc-inputs">
                        <h2>Email</h2>
                        <input class="acc-inputss" type="email" value="e4u@gmail.com">
                    </label>
                    <div class="acc-sub-btn">
                    <input class="acc-btn" type="submit" value="Change">
                    </div>
                </form>
            </article>
        </section>

        <!-- security form  -->

        <section class="account-form">
            <article class="form-head">
                <h1>Security Changes</h1>
            </article>
            <article class="account-input">
                <form action="">
                    <label for="" class="acc-inputs">
                        <h2>Current Password</h2>
                        <input type="password" >
                    </label>
                    <label for="" class="acc-inputs">
                        <h2>New Password</h2>
                        <input type="password" >
                    </label>
                    <label for="" class="acc-inputs">
                        <h2>Confirm Pwd</h2>
                        <input type="password" >
                    </label>
                    <div class="acc-sub-btn">
                    <input class="acc-btn" type="submit" value="Change">
                    </div>
                </form>
            </article>
        </section>

        <section class="complaints">
            <div class="complaints-wrap">
                <div class="first-line">
                <article class="options">
                    <img src="../assets/actions.png" alt="" height="70px" width="70px">
                    <h4 class="header-edit"><a href="#">Report Problem</a></h4>
                </article>
                <article class="options">
                    <img src="../assets/actions.png" alt="" height="70px" width="70px">
                    <h4 class="header-edit"><a href="#">Help</a></h4>
                </article>
                </div>
                <div class="second-line">
                <article class="options">
                    <img src="../assets/actions.png" alt="" height="70px" width="70px">
                    <h4 class="header-edit"><a href="#">Logout</a></h4>
                </article>
                <article class="options">
                    <img src="../assets/actions.png" alt="" height="70px" width="70px">
                    <h4 class="delete">Delete Account</h4>
                </article>
                </div>
            </div>
        <!-- </div> -->
        </section>
